$color--blue: #26969F;
$color--orange: #B9954F;
$color--light-pink: #FFD4D4;
$color--light-grey: #4f4f4f;
$color--dark-grey: #393E46;
$color--gold: #D7AA54;
$color--white: #ffffff;
$color--black: #000000;
$color--red: #cc0000;
$color--green: #405a15;

$color--button_delete: #A84E4F;
$color--button_edit: #C7B766;
$color--button_update: #4C854A;

$color--default: $color--dark-grey;
$color--base: $color--white;
$color--on-base: $color--black;

$color--primary: $color--blue;
$color--secondary: $color--orange;

$color--input__border: $color--light-grey;
$color--input__hint: $color--light-grey;

$color--invalid: $color--red;

$color--note: $color--light-pink;
$color--add-icon: $color--light-pink;
$color--star: $color--gold;
$color--arrow-back: #979797;

$color--new-product__browse-input: $color--green;

$color--alert__title: #606060;
$color--alert__cross: #C4C4C4;
$color--alert__background: #FAFAFA;
$color--alert__message: #606060;
