<div class="g-content-container">
    <div class="search">
        <input #search class="g-field__input" [(ngModel)]="searchString" type="text" placeholder="Search products...">
    </div>
    <app-page-title title="Products" left="295"></app-page-title>
    <form class="edit g-block" [formGroup]="form">
        <div class="g-field">
            <div class="g-field__label">Title</div>
            <input formControlName="title" type="text" class="g-field__input">
        </div>
        <div class="g-field">
            <div class="g-field__label">Picture</div>
            <app-input-file [form]="form"></app-input-file>
        </div>
        <div class="g-field">
            <div class="g-field__label">Vendor Code</div>
            <input formControlName="vendorCode" type="text" class="g-field__input">
        </div>
        <div class="g-field">
            <div class="g-field__label">Cost</div>
            <input formControlName="cost" type="text" class="g-field__input g-field__input_short">
        </div>
        <div class="g-field">
            <div class="g-field__label">Number of seeds</div>
            <input formControlName="numberOfSeeds" type="text" class="g-field__input g-field__input_short">
        </div>
        <div class="g-field">
            <div class="g-field__label">In stock</div>
            <input formControlName="inStock" type="text" class="g-field__input g-field__input_short">
        </div>

        <div class="buttons">
            <button (click)="delete()" [disabled]="form.invalid" class="button_del" type="button">Delete</button>
            <button (click)="update()" [disabled]="form.invalid" class="button_update" type="button">Update</button>
            <button (click)="editInFullMode()" [disabled]="form.invalid" class="button_edit" type="button">Edit in Full Mode</button>
        </div>
    </form>

    <section class="catalog g-block" [ngClass]="products.length && isCatalogScrollable() ? 'catalog_scroll' : ''">
        <div class="line"></div>

        <app-not-found *ngIf="!products.length"
                       title="Create some products!"
                       text="Go to product creation"></app-not-found>

        <section class="catalog__inner" *ngIf="products.length">
            <div class="catalog__item"
                 *ngFor="let item of products | filterProducts: searchString"
                 (click)="chooseItem(item._id)">
                <img class="item__triangle" src="/assets/images/manage-products__triangle.png">
                <span class="item__text">{{ item.title }}</span>
                <div class="item__pic g-box">
                    <img [src]="item.picture">
                </div>
                <span class="item__text">${{ item.cost }}</span>
                <span class="item__text">{{ item.inStock }} in stock</span>
                <span class="item__not-available" *ngIf="!item.inStock">• not available</span>
            </div>
        </section>
    </section>
</div>
<img class="g-page-picture" src="/assets/images/products.png">
