<div class="container">
    <div class="back">
        <a routerLink="">BACK TO HOME</a>
        <hr width="160" size="2" align="center" color="#000000">
    </div>
    <div class="header">
        <img class="icon" src="/assets/images/logo_gold.png">
        <app-logo [navHumHidden]="true"></app-logo>
    </div>
    <form [formGroup]="form" novalidate method="post" (ngSubmit)="submit()">
        <div class="input-container">
            <input class="form__field" formControlName="email" type="text" placeholder="email">
            <input class="form__field" formControlName="password" type="password" placeholder="password">
        </div>
        <button class="submit" type="submit">SIGN IN</button>

        <div class="container-link">
            <a class="link" routerLink="/auth/register">or sign up</a>
            <hr size="2" align="center" color="#000000">
        </div>
    </form>
</div>
