<div class="container">

    <div class="header">
        <img class="icon" src="/assets/images/logo_gold.png">
        <app-logo></app-logo>
    </div>
    <form [formGroup]="form" novalidate method="post" (ngSubmit)="submit()">
        <div class="input-container">
            <input class="form__field" formControlName="email" type="text" placeholder="email">
            <input class="form__field" formControlName="password" type="password" placeholder="password">
        </div>
        <button class="submit" type="submit">SIGN IN</button>

        <div class="g-link link">
            <a routerLink="/auth/register">or sign up</a>
        </div>
    </form>

    <div class="back">
        <a routerLink="">BACK TO HOME</a>
    </div>
</div>
