<div class="dropdown-container">
    <div class="dropdown">
        <div class="select">
            <span class="result"
                  unselectable="on"
                  onselectstart="return false;">{{ title ? title : selected.title }}</span>
            <img src="app/frontend/assets/images/dropdown-arrow.png">
                 </div>
                 <ul class="dropdown-menu">
            <li *ngFor="let elem of dataToSelect" (click)="choose(elem)">{{ elem.title }}</li>
            </ul>
        </div>
    </div>
