# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 30 Chrome major version
last 30 Firefox major version
last 30 Edge major versions
last 30 Safari major versions

last 30 android major versions
last 30 and_qq major versions
last 30 and_uc major versions
last 30 and_chr major versions

last 30 iOS major versions

last 30 bb major versions
last 30 Baidu major versions
last 30 Electron major versions

last 30 op_mini major versions
last 30 op_mob major versions

last 30 Samsung major versions

last 30 kaios major versions

Firefox ESR
last 30 ie_mob major versions
IE 9-10
IE 11
