@import '../../../assets/styles/utils.scss';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    @extend %hover-container;
    padding: 20px;
    box-sizing: content-box;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--nav__items;

    &:before {
        @extend %hover-before;
        background: $color--default;
    }

    &:hover {
        color: $color--base;

        &:before {
            @extend %hover-container-before;
        }

        &~hr {
            opacity: 0;
        }
    }
}

hr {
    margin: 0;
    opacity: 0;
    width: 100%;
    transition: all 300ms ease;
}

.router-link-active {
    &~hr {
        opacity: 1;
    }
}

@media (max-width: $size--width_mobile) {
    .link {
        padding: 10px;
        font-size: $fontsize--nav__items_mobile;
    }

    .router-link-active {
        &~hr {
            opacity: 0;
        }
    }
}

@media (max-width: $size--width_tablet) {}
