@import '../../../assets/styles/style.scss';

.router-link-active {
    @extend %underline;
}

div {
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--nav__items;
    @include g-link ($color--default);
}

@media (max-width: $size--width_tablet) {
    div {
        padding: 0.5em 1.5em;
    }
}
