<div class="container">
    <div class="back">
        <a routerLink="">BACK TO HOME</a>
        <hr width="160" size="2" align="center" color="#000000">
    </div>
    <div class="header">
        <img class="icon" src="/assets/images/logo_pink.png">
        <app-logo></app-logo>
    </div>
    <form [formGroup]="form" novalidate method="post" (ngSubmit)="submit()">
        <div class="input-container">
            <input class="form__field" formControlName="fullname" type="text" placeholder="name">
            <input class="form__field" formControlName="email" type="text" placeholder="email">
            <input class="form__field" formControlName="password" type="password" placeholder="password">
        </div>
        <button class="submit" [disabled]="form.invalid" type="submit">SIGN UP</button>
        <a class="link" routerLink="/auth/login">or sign in</a>
        <hr width="107" size="2" align="center" color="#000000">
    </form>
</div>
