@import 'app/frontend/src/assets/styles/style.scss';

.not-found {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 3em;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--products__nothing-is-found;
}

.not-found__link {
    position: relative;
    display: flex;
    align-items: center;
    left: 0.6em;
    height: 43px;
    padding: 0 1em;
    font-size: $fontsize--products__nothing-is-found_link;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.094) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all 200ms linear;

    img {
        position: absolute;
        left: -0.6em;
        transition: left 200ms linear;
    }

    &:before {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        top: 0;
        left: auto;
        right: 0;
        z-index: -1;
        transition: all 500ms ease;
    }

    &:hover {
        background: none;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: linear-gradient(90deg, #e2eefc, rgba(0, 0, 0, 0));
        }

        img {
            position: absolute;
            left: -0.3em;
        }
    }
}

@media (max-width: $size--width_laptop) {
    .not-found {
        @include tablet__block;
        padding: 1em;
    }

    app-loader {
        padding: 200px 100px;
    }
}
