.g-content-container {
    position: relative;
    height: calc(100vh - 239px);
    width: 100vw;
}

.g-page-picture {
    position: absolute;
    z-index: 1000;
}

.g-box {
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
