@import 'sizes.scss';

@mixin tablet_content-container {
    position: static;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

@mixin tablet__block {
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: fit-content;
    max-width: 0;
    min-width: 100vw;
    width: 100vw;
    border-radius: 0;
    box-sizing: border-box;
}

@media (max-width: $size--width_tablet) {
    .g-page-picture {
        display: none;
    }
}
