@import '../../assets/styles/style.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 239px;
    padding-top: 66px;
    box-sizing: border-box;
}

.list {
    display: flex;
    justify-content: space-between;
    min-width: 746px;
    margin-top: 30px;

    div {
        display: inline-block;
    }
}

.link-to-auth {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    @include g-link ($color--default);
    @extend %underline;

    a {
        font-family: $fontfamily--condensed;
        font-size: $fontsize--nav__user__auth;
    }

}

.user {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
}

.user__header {
    display: flex;
    align-items: center;
}

.user__name {
    margin-left: 23.7px;
    font-size: $fontsize--nav__user__name;
}

.user__dropdown {
    display: flex;
    // visibility: hidden;
    // opacity: 0;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;

    :nth-child(2) {
        margin-top: 10px;
    }
}

@keyframes dropdownAppear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes dropdownDisappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.user__dropdown__link {
    margin-left: 23.7px+45.53px;
    color: $color--on-base;
    font-size: $fontsize--nav__user__dropdown;
}

@media (max-width: $size--width_mobile) {
    .nav {
        align-items: center;
        padding-bottom: 20px;
    }

    .nav-container {
        padding-top: 20px;
        box-sizing: border-box;
    }

    .link-to-auth {
        position: relative;
        top: 0;
        right: 0;
    }

    .user {
        position: relative;
        top: 0;
        right: 0;
        padding: 15px;
        font-size: $fontsize--nav__items_mobile;

        &:hover .user__dropdown {
            display: flex;
        }

    }

    .user__header {
        display: flex;
        align-items: center;
    }

    .user__name {
        font-size: $fontsize--nav__items_mobile;
    }

    .user__dropdown {
        margin-top: 15px;
        justify-content: center;
    }

    .user__dropdown__link {
        margin-left: 23.7px+45.53px;
    }
}

@media (max-width: $size--width_tablet) {
    .link-to-auth {
        top: 60px;
        right: 20px;
    }

    .user {
        position: relative;
        top: 0;
        right: 0;
        padding: 15px;
        font-size: $fontsize--nav__items_mobile;

        &:hover .user__dropdown {
            display: flex;
        }
    }

    .user__header {
        display: flex;
        align-items: center;
    }

    .user__name {
        font-size: $fontsize--nav__items_mobile;
    }

    .user__dropdown {
        margin-top: 15px;
        justify-content: center;
    }

    .user__dropdown__link {
        margin-left: 23.7px+45.53px;
    }
}
