@import '../../assets/styles/style.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 239px;
    padding-top: 66px;
    box-sizing: border-box;
}

.list {
    display: flex;
    justify-content: space-between;
    min-width: 746px;
    margin-top: 30px;

    div {
        display: inline-block;
    }
}

.link-to-auth {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    @include g-link ($color--default);
    @extend %underline;

    a {
        font-family: $fontfamily--condensed;
        font-size: $fontsize--nav__user__auth;
    }
}

.user {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
}

.user_tablet {
    display: none;
}

.user__header {
    display: flex;
    align-items: center;
}

.user__name {
    margin-left: 23.7px;
    font-size: $fontsize--nav__user__name;
}

.user__dropdown {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;

    :nth-child(2) {
        margin-top: 10px;
    }
}

@keyframes dropdownAppear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes dropdownDisappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.user__dropdown__link {
    margin-left: 23.7px+45.53px;
    color: $color--on-base;
    font-size: $fontsize--nav__user__dropdown;
    background: $color--base;
    z-index: 10;
}

@media (max-width: $size--width_tablet) {
    .nav-container {
        position: static;
        height: fit-content;
    }

    .nav.nav_cycled {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .list {
        display: flex;
        flex-direction: column;
        min-width: 100vw;
        margin-top: 0;
        height: fit-content;
    }

    .user {
        display: none;
    }

    .user_tablet {
        display: block;
    }
}

@media (max-width: $size--width_mobile) {}
