<div class="nav-container">
    <app-logo (toggle)="toggleMobileMenu()" [navHumHidden]="false"></app-logo>

    <div class="nav nav_cycled">
        <div class="link-to-auth" *ngIf="!user">
            <a routerLink="auth/register">SIGN IN | JOIN</a>
        </div>

        <div class="list" *ngIf="user && user.role === 'admin' else userTemplate">
            <app-nav-link href="admin/new-product" text="NEW PRODUCT"></app-nav-link>
            <app-nav-link href="admin/products" text="PRODUCTS"></app-nav-link>
            <app-nav-link href="admin/orders" text="ORDERS"></app-nav-link>
            <app-nav-link href="admin/edit-help" text="EDIT HELP (E.)"></app-nav-link>
            <app-nav-link href="admin/edit-contacts" text="CONTACTS (E.)"></app-nav-link>
            <app-nav-link class="user_tablet" href="orders" text="MY ORDERS"></app-nav-link>
            <app-nav-link class="user_tablet" href="admin/edit-contacts" (click)="logout()" text="SIGN OUT"></app-nav-link>
        </div>

        <div class="user" *ngIf="user"
             (mouseenter)="toggleDropdownState()"
             (mouseleave)="toggleDropdownState()">
            <div class="user__header">
                <img src="/assets/images/avatar.png" alt="">
                <a class="user__name">{{ user.fullname | uppercase }}</a>
            </div>
            <div class="g-block user__dropdown"
                 [@appearDisappear]="dropdownMenuState ? 'active' : 'inactive'">
                <a class="user__dropdown__link" routerLink="orders">My Orders</a>
                <a class="user__dropdown__link" (click)="logout()">Sign Out</a>
            </div>
        </div>
    </div>

</div>

<ng-template #userTemplate>
    <div class="list">
        <app-nav-link href="catalog" text="CATALOG"></app-nav-link>
        <app-nav-link href="help" text="HELP"></app-nav-link>
        <app-nav-link href="cart" text="MY CART"></app-nav-link>
        <app-nav-link href="contacts" text="CONTACTS"></app-nav-link>

        <div *ngIf="user && user.role === 'manager'">
            <app-nav-link href="admin/orders" text="ORDERS"></app-nav-link>
        </div>
    </div>
</ng-template>
