<div class="container">
    <app-logo></app-logo>
    <a class="link-to-auth" routerLink="auth/register">SIGN IN | JOIN</a>
    <div class="list">
        <div>
            <a class="link" routerLink="catalog" routerLinkActive="router-link-active">CATALOG</a>
            <hr width="107" size="2" align="center" color="#000000">
        </div>
        <div>
            <a class="link" routerLink="help" routerLinkActive="router-link-active">HELP</a>
            <hr width="107" size="2" align="center" color="#000000">
        </div>
        <div>
            <a class="link" routerLink="cart" routerLinkActive="router-link-active">MY CART</a>
            <hr width="107" size="2" align="center" color="#000000">
        </div>
    </div>
</div>
