@import '../../../assets/styles/style.scss';

.blocks {
    display: grid;
    grid-template-columns: 1fr 142px 1fr 402px;
    grid-template-areas: "spec . descr .";
    align-items: center;
}

.block_spec {
    grid-area: spec;
    max-width: 574px;
    align-items: center;
    padding: 33px 0 0 76px;
}

.block_description {
    grid-area: descr;
    height: 574px;
    overflow: auto;
    box-shadow: inset 0 -5em 50px -5em rgba(0, 0, 0, 0.1),
        inset 0 5em 50px -5em rgba(0, 0, 0, 0.2);
}

.g-field {
    display: grid;
    grid-template-columns: 273px 1fr;
}

.button_del {
    width: 146px;
    @include g-btn($color--button_delete, $color--primary);
}

.button_update {
    width: 158px;
    @include g-btn($color--button_update, $color--primary);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 58px;

    button {
        height: 46px;
        font-size: $fontsize--button;
        box-sizing: border-box;
    }
}

.care {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 387px;
}

.care__field {
    display: grid;
    grid-template-columns: 208px 1fr;
    grid-column-gap: 30px;
    width: 100%;
}

.care__title {
    padding: 8px 23px;
    color: $color--base;
    font-family: $fontfamily--default;
    font-size: $fontsize--new-product__plant-care__title;
    font-weight: 300;
    background: $color--default;
}

@include scrollbar($color--base, $color--base);

.g-page-picture {
    right: 0;
    bottom: 0;
}

@media (max-width: $size--width_laptop) {
    .blocks {
        @include tablet_content-container;
    }

    .block_spec {
        @include tablet__block;
        padding: 0;
    }

    .block_description {
        @include tablet__block;
    }

    .button-save {
        margin-top: 2em;
    }

    .care {
        margin-top: 2em;
        gap: 2em;
        width: 100vw;
        height: fit-content;
    }

    .description {
        margin-top: 2em;
    }

    .care__title {
        padding: 8px 23px;
        color: $color--base;
        font-family: $fontfamily--default;
        font-size: $fontsize--new-product__plant-care__title;
        font-weight: 300;
        background: $color--default;
    }

    @include scrollbar($color--base, $color--default);
}

@media (max-width: $size--width_mobile) {
    .blocks {
        @include tablet_content-container;
    }

    .block_spec {
        @include tablet__block;
        padding: 0;
    }

    .block_description {
        @include tablet__block;
    }

    .button-save {
        margin-top: 2em;
    }

    .g-field {
        display: flex;
        flex-direction: column;
    }

    .care {
        margin-top: 2em;
        width: 100vw;
    }

    .care__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;
        width: 100%;
        padding: 1em 0.5em;
        box-sizing: border-box;
    }

    .care__title {
        padding: 8px 23px;
    }

    @include scrollbar($color--base, $color--default);
}
