@import '../../assets/styles/style.scss';
@import "@tomtom-international/web-sdk-maps";

@media (max-width: $size--width_laptop) {
    #gMap {
        width: 100vw;
    }
}

#marker {
    background-image: url('/assets/map_pin.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
}
