@import '../../../assets/styles/style.scss';

.g-content-container {
    margin-top: 2em;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 142px 1fr 402px;
    grid-template-areas: "spec . descr .";
    height: 100%;
}

.g-field {
    display: grid;
    grid-template-columns: 273px 1fr;
}

.block_spec {
    grid-area: spec;
    max-width: 574px;
    align-items: center;
    padding: 4em 0 0 5em;
}

.block_description {
    grid-area: descr;
    min-height: 574px;
    height: 60vh;
    overflow: auto;
    @extend %scroll-box-shadow;

    .g-field {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}

.button-save {
    width: 224px;
    height: 46px;
    margin-top: 2em;
    font-size: $fontsize--button;
    @include g-btn($color--primary, $color--secondary);
}

.care {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2em;
}

.care__field {
    display: grid;
    grid-template-columns: 208px 1fr;
    grid-column-gap: 30px;
    width: 100%;
}

.care__title {
    padding: 10px 23px;
    color: $color--base;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--new-product__plant-care__title;
    font-weight: 300;
    background: $color--default;
}

@include scrollbar($color--base, $color--base);

.g-page-picture {
    right: 0;
    bottom: 0;
}

@media (max-width: $size--width_laptop) {
    .blocks {
        @include tablet_content-container;
    }

    .block_spec {
        @include tablet__block;
        padding: 0;
    }

    .block_description {
        @include tablet__block;
    }

    .button-save {
        margin-top: 2em;
    }

    .care {
        margin-top: 2em;
        grid-gap: 2em;
        width: 100vw;
        height: fit-content;
    }

    .description {
        margin-top: 2em;
    }

    .care__title {
        padding: 8px 23px;
        color: $color--base;
        font-family: $fontfamily--default;
        font-size: $fontsize--new-product__plant-care__title;
        font-weight: 300;
        background: $color--default;
    }

    @include scrollbar($color--base, $color--default);
}

@media (max-width: $size--width_mobile) {
    .blocks {
        @include tablet_content-container;
    }

    .block_spec {
        @include tablet__block;
        padding: 0;
    }

    .block_description {
        @include tablet__block;
    }

    .button-save {
        margin-top: 2em;
    }

    .g-field {
        display: flex;
        flex-direction: column;
    }

    .care {
        margin-top: 2em;
        width: 100vw;
    }

    .care__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        grid-gap: 1em;
        width: 100%;
        padding: 1em 0.5em;
        box-sizing: border-box;
    }

    .care__title {
        padding: 8px 23px;
    }

    @include scrollbar($color--base, $color--default);
}
