<form [formGroup]="form" class="container" (ngSubmit)="submit()">
    <div class="title">
        <span class="title_marked">New Product</span>
    </div>
    <div class="blocks">
        <div class="block block_spec">
            <div class="field">
                <div class="field__label">Title</div>
                <input formControlName="title" type="text" class="field__input">
            </div>
            <div class="field">
                <div class="field__label">Picture</div>
                <button id="uploadFile" (click)="clickFileButton()" class="field__input field__input_picture">
                    <img src="/assets/images/browse-pic.png" alt="">
                    <span id="filename">
                        {{
                            (fileNameSpanText.length > 15) ? 
                            (fileNameSpanText | slice:0:15)+'...' : fileNameSpanText
                        }}
                    </span>
                </button>
                <input type="file" id="inputFile" (change)="uploadFile($event.target.files)" accept="image/png, image/jpeg">
            </div>
            <div class="field">
                <div class="field__label">Vendor code</div>
                <input formControlName="vendorCode" type="text" class="field__input">
            </div>

            <div class="field">
                <div class="field__label">Cost</div>
                <input formControlName="cost" type="text" class="field__input field__input_short">
            </div>
            <div class="field">
                <div class="field__label">In stock</div>
                <input formControlName="inStock" type="text" class="field__input field__input_short">
            </div>

            <div class="field">
                <div class="field__label">Number of seeds</div>
                <input formControlName="numberOfSeeds" type="text" class="field__input field__input_short">
            </div>
            <button class="button-save" type="submit">Create Product</button>
        </div>
        <div class="block block_description">
            <div class="care" formArrayName="care">
                <div class="care__title">Plant Care</div>
                <div class="care__field" *ngFor="let obj of form.controls['care']['controls']; let i = index" [formGroupName]="i">
                    <input formControlName="param" type="text"
                           class="field__input field__input_long-param"
                           placeholder="Parameter">

                    <input formControlName="value" type="text"
                           class="field__input field__input_long-val"
                           placeholder="Parameter">
                </div>
            </div>

            <div class="description">
                <div class="field field_long">
                    <div class="field__label">Description</div>
                    <textarea formControlName="description" type="text" class="field__input field__input_big"></textarea>
                </div>
                <div class="field field_long">
                    <div class="field__label">Cultivation</div>
                    <textarea formControlName="cultivation" type="text" class="field__input field__input_big"></textarea>
                </div>
            </div>
        </div>
    </div>
    <img class="decor-pic" src="/assets/images/new-product.png">
</form>
