$color--blue: #26969F;
$color--orange: #B9954F;
$color--light-pink: #FFD4D4;
$color--light-grey: #4f4f4f;
$color--dark-grey: #393E46;
$color--gold: #D7AA54;

$color--default: $color--dark-grey;
$color--button__ask-managers: $color--blue;
$color--button__add-to-cart: $color--blue;
$color--button__pay-for-purchase: $color--orange;
$color--auth__button: $color--dark-grey;
$color--auth__border: $color--light-grey;
$color--auth__hint: $color--light-grey;
$color--note: $color--light-pink;
$color--add-icon: $color--light-pink;
$color--star: $color--gold;
$color--arrow-back: #979797;