@import '../../assets/styles/style.scss';

app-alert {
    position: absolute;
    right: 47px;
    bottom: 47px;
    z-index: 9999;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
