@import '../../assets/styles/style.scss';

app-alert {
    position: absolute;
    right: 47px;
    bottom: 47px;
    z-index: 9999;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: $size--width_laptop) {
    .container {
        height: 100vh;
    }

    app-alert {
        position: static;
        right: 0;
        bottom: 0;
    }
}
