@import '../../../assets/styles/style.scss';

@include scrollbar($color--base, $color--default);

.g-page-picture {
    grid-area: picture;
    left: 31px;
    bottom: 0;
}

.g-content-container {
    display: grid;
    grid-template-rows: 136px auto;
    grid-template-columns: auto 4fr 5fr;
    grid-template-areas:
        "title search catalog"
        "picture edit catalog";
}

.g-field {
    display: grid;
    grid-template-columns: 250px 1fr;
}


.search {
    @extend %search;
}

.edit {
    grid-area: edit;
    padding-right: 2em;
}

.button_del {
    width: 146px;
    @include g-btn($color--button_delete, $color--primary);
}

.button_edit {
    width: 183px;
    @include g-btn($color--button_edit, $color--primary);
}

.button_update {
    width: 158px;
    @include g-btn($color--button_update, $color--primary);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 58px;

    button {
        height: 46px;
        font-size: $fontsize--button;
        box-sizing: border-box;
    }
}

.catalog {
    grid-area: catalog;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.catalog__inner {
    position: absolute;
    top: 2em;
    display: grid;
    grid-auto-rows: min-content;
    width: 100%;
    height: calc(100% - 4em);
    overflow-y: auto;
    box-sizing: border-box;
}

.catalog_scroll {
    @extend %scroll-box-shadow;
}

.line {
    position: absolute;
    border-left: 2px solid #393E46;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}

.catalog__item {
    position: relative;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 2fr 2fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
    box-sizing: border-box;
    font-family: $fontfamily--default;
    font-size: $fontsize--products__list;
    transition: all 200ms linear;

    &:hover {
        cursor: pointer;
        background: rgba(106, 120, 124, 0.1);

        .item__triangle {
            opacity: 1;
        }
    }
}

.item__triangle {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: all 200ms linear;
}

.item__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background: $color--white;

    img {
        height: 100%;
    }
}

.item__not-available {
    color: #E99A23;
}

@media (max-width: $size--width_laptop) {
    .g-content-container {
        @include tablet_content-container;
    }

    .edit {
        @include tablet__block;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr;
        max-width: 700px;
        width: 100vw;
        gap: 0.5em;
        padding: 3em 0;
        margin: 0;

        button {
            width: auto;
        }
    }

    .line {
        display: none;
    }

    .catalog {
        margin-top: 3em;
        padding: 1em 0;
    }

    .catalog__inner {
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .catalog__item {
        @include tablet_content-container;
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-areas: "picture title"
            "picture cost"
            "picture inStock"
            "picture availible";
        padding: 0.5em;
        text-align: left;
        color: $color--base;
        border-radius: 3px;
        background: $color--default;
    }

    .item__text {
        font-size: 1.5rem;
    }

    .catalog_scroll {
        box-shadow: none;
    }

    .item__pic {
        grid-area: picture;
        height: 200px;
        width: 200px;
    }
}

@media (max-width: $size--width_mobile) {
    .g-field {
        display: flex;
        flex-direction: column;
    }

    .catalog__inner {
        @include tablet_content-container;
    }
}
