@import '../../../assets/styles/style.scss';

@include scrollbar($color--base, $color--primary);

.g-page-picture {
    grid-area: picture;
    left: 31px;
    bottom: 0;
}

.g-content-container {
    display: grid;
    grid-template-rows: 136px auto;
    grid-template-columns: auto 4fr 5fr;
    grid-template-areas:
        "title search catalog"
        "picture edit catalog";
}

.edit {
    grid-area: edit;
}

.button_del {
    width: 146px;
    height: 46px;
    font-size: $fontsize--button;
    @include g-btn($color--button_delete, $color--primary);
}

.button_edit {
    width: 183px;
    height: 46px;
    margin-left: 103px;
    font-size: $fontsize--button;
    @include g-btn($color--button_edit, $color--primary);
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 58px;
}

.catalog {
    grid-area: catalog;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.catalog__inner {
    position: absolute;
    left: 2em;
    top: 2em;
    display: grid;
    width: 100%;
    height: calc(100% - 4em);
    grid-gap: 30px;
    overflow-y: auto;
    box-sizing: border-box;
}

.catalog_loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    border-left: 2px solid #393E46;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}

.catalog__item {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 2fr 2fr;
    grid-gap: 1em;
    align-items: center;
    padding: 0 2em;
    width: 100%;
    box-sizing: border-box;
    font-family: $fontfamily--default;
    font-size: $fontsize--products__list;
}

.item__pic {
    width: 46px;
    height: 46px;
}

.item__not-available {
    color: #E99A23;
}

.not-found {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 3em;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--products__nothing-is-found;
}

.not-found__link {
    position: relative;
    display: flex;
    align-items: center;
    left: 0.6em;
    height: 43px;
    padding: 0 1em;
    font-size: $fontsize--products__nothing-is-found_link;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.094) 0%, rgba(0, 0, 0, 0) 100%);
    transition: all 200ms linear;

    img {
        position: absolute;
        left: -0.6em;
        transition: left 200ms linear;
    }

    &:before {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        top: 0;
        left: auto;
        right: 0;
        z-index: -1;
        transition: all 500ms ease;
    }

    &:hover {
        background: none;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: linear-gradient(90deg, #e2eefc, rgba(0, 0, 0, 0));
        }

        img {
            position: absolute;
            left: -0.3em;
        }
    }
}

@media (max-width: $size--width_tablet) {
    .g-content-container {
        @include tablet_content-container;
    }

    .edit {
        @include tablet__block;
    }

    .buttons {
        display: flex;
        align-items: center;
        margin-top: 58px;
    }

    .line {
        display: none;
    }

    .catalog {
        padding-top: 3em;
        @include tablet_content-container;
    }
}
