@import 'app/frontend/src/assets/styles/style.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 239px;
    padding-top: 66px;
    box-sizing: border-box;
}

.list {
    display: flex;
    justify-content: space-between;
    min-width: 746px;
    margin-top: 30px;

    div {
        display: inline-block;
    }
}

.link-to-auth {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    @include g-link ($color--default);
    @extend %underline;

    a {
        font-family: $fontfamily--condensed;
        font-size: $fontsize--nav__user__auth;
    }
}

.user {
    position: absolute;
    top: 53px;
    right: 53px;
    padding: 15px;
    box-sizing: content-box;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
}

.user_tablet {
    display: none;
}

.user__header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user__name {
    font-size: $fontsize--nav__user__name;
}

.user__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.user__dropdown__link {
    margin-left: 23.7px+45.53px;
    color: $color--on-base;
    font-size: $fontsize--nav__user__dropdown;
    background: $color--base;
    z-index: 10;
}

.cycled_hr {
    display: none;
}

@keyframes dropdownAppear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes dropdownDisappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: $size--width_laptop) {
    .nav-container {
        position: static;
        height: fit-content;
        padding-top: 1em;
    }

    .nav.nav_cycled {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        box-sizing: border-box;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-width: 100vw;
        margin-top: 0;
        height: fit-content;
    }

    .user {
        position: static;
        padding: 2em 3.5em;
    }

    .link-to-auth {
        position: static;
        padding: 2.5em;
        border: none;
    }

    .user_tablet {
        display: none;
    }

    .user__header {
        display: flex;
        align-items: center;
        gap: 0.8em;
    }

    .user__name {
        font-size: $fontsize--nav__items;
    }

    .user__dropdown {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .user__dropdown__link {
        font-size: $fontsize--nav__items;
    }

    .cycled_hr {
        display: block;
    }
}

@media (max-width: $size--width_mobile) {
    .list {
        display: flex;
        flex-direction: column;
        align-self: center;
        min-width: 100vw;
        margin-top: 0;
        height: fit-content;
    }

    .user__dropdown {
        flex-direction: column;
        align-items: flex-start;
    }

    .cycled_hr {
        display: block;
    }
}
