@import '../../../assets/styles/style.scss';

.g-page-picture {
    grid-area: picture;
    left: 0;
    top: 46px;
}

.g-content-container {
    display: grid;
    grid-template-columns: 246px 5fr 3fr;
    grid-template-areas:
        "picture products summary";
    grid-gap: 0 100px;
}

.search {
    position: absolute;
    top: 160px;
    right: 121px;
    @extend %search;
}

.catalog {
    grid-area: products;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.catalog_loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog__inner {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 58px 84px;
    height: max-content;
    padding: 1em;
}

.catalog__item {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "data picture"
        "data picture";
    height: 162px;
    min-height: 0;
    box-sizing: border-box;
    color: $color--base;
    font-size: $fontsize--catalog__card__title;
    background: $color--default;
    transition: transform 200ms linear;
    cursor: move;

    &:hover {
        cursor: pointer;
        background: #396354;
    }
}

.item__close {
    position: absolute;
    right: 1em;
    top: 2em;
}

.item__data {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title"
        "cost count";
}

.item__title {
    grid-area: title;
    padding: 1.3em 1em;
    font-family: $fontfamily--default;
    font-size: $fontsize--my-cart__card__title;
}

.item__cost {
    grid-area: cost;
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-family: $fontfamily--round;
    font-size: $fontsize--my-cart__card__cost;
}

.item__count {
    grid-area: count;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 70px) 1fr;
    align-items: center;
    padding-right: 0.8em;
    gap: 0.4em;

    input {
        color: $color--base;
        font-family: $fontfamily--round;
        font-size: $fontsize--my-cart__card__count;
        text-align: center;
        border: none;
        border-bottom: 1px solid $color--base;
        border-radius: 0;
        background: none;
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.item__pic {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    background: $color--white;

    img {
        height: 100%;
    }
}

.summary {
    grid-area: summary;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        ". s_pic"
        ". s_pic"
        "s_btn s_pic";
    align-items: center;
    margin-top: 92px;
    width: 461px;
    height: 278px;
    padding: 1.5em 1em;
    box-sizing: border-box;
    font-size: $fontsize--my-cart__side-card__text;
    font-family: $fontfamily--round;
    color: $color--base;
    background: $color--default;
}

.summary__img {
    grid-area: s_pic;
}

.summary__button {
    grid-area: s_btn;
    width: 240px;
    height: 50px;
    font-size: $fontsize--button;
    @include g-btn ($color--secondary, $color--primary);
}

.module {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 60px 65px 35px;
}

.module__title {
    font-family: $fontfamily--condensed;
    font-size: $fontsize--module__title;
    text-align: center;
}

.module__text {
    font-family: $fontfamily--sans-serif;
    font-size: $fontsize--module__text;
}

.module__table {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    max-height: 310px;
    min-height: 300px;
    font-family: $fontfamily--default;
    font-size: $fontsize--module__table;
    box-shadow: inset 0 -5em 50px -5em rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.module__table__row {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    padding: 0 1em;
}

.module__table__footer {
    padding: 1em;
}

.module__location {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.module__map {
    width: 301px;
    height: 142px;
    background: rgb(44, 167, 109);
}

.module__location__side {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.module__checkbox {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: $fontsize--module__checkbox;
}

.module__form {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.module__confirm {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7fr 4fr;
    grid-template-areas: "text note""input note";
    grid-gap: 1em;
    align-items: center;
}

.module__input {
    padding: 1em;
    width: 156px;
    height: 29px;
    box-sizing: border-box;
    font-family: $fontfamily--default;
    font-size: 17px;
    font-weight: 300;
    @include placeholder($fontfamily--condensed, 17px, 400);

    &.ng-dirty.ng-invalid {
        border-color: $color--invalid
    }
}

.module__note {
    grid-area: note;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 53px;
    color: #A84E4F;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--module__note;

    span {
        margin-left: 1em;
    }
}

.module__note__line {
    position: absolute;
    border-left: 2px solid #A84E4F;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
}

.module__submit {
    align-self: center;
    width: 155px;
    height: 46px;
    font-size: $fontsize--button;
    @include g-btn (#77B675, $color--secondary);
}

@media (max-width: $size--width_tablet) {
    .g-content-container {
        @include tablet_content-container;
    }

    .search {
        @include tablet__block;
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 3em 0;
        box-sizing: border-box;
        @include tablet__block;
    }

    .catalog__item {
        width: auto;
        height: 270px;
        box-sizing: border-box;
    }

    .item__pic {
        width: 150px;
        height: 150px;

        img {
            height: 100%;
        }
    }

    .item__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1em 0.7em;
        box-sizing: border-box;
    }

}
