@import '../../assets/styles/style.scss';

.title-box {
    padding-top: 40px;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--page__title;

    .title_main {
        padding: 15px 15px 15px 0;
        color: $color--base;
        background: $color--default;
    }

    .title_add {
        padding: 15px;
    }
}

@media (max-width: $size--width_laptop) {
    .title-box {
        width: 100vw;

        .title_main {
            display: block;
            padding: 0.5em;
        }

        .title_add {
            display: block;
            padding: 0.5em;
        }
    }
}
