@import '../../assets/styles/style.scss';

.title-box {
    padding-top: 40px;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--page__title;

    span {
        padding: 15px 15px 15px 0;
        color: $color--base;
        background: $color--default;
    }
}

@media (max-width: $size--width_tablet) {
    .title-box {
        width: 100vw;

        span {
            padding: 0.5em;
            display: block;
        }
    }
}
