<div class="container">
    <div class="header">
        <img class="icon" src="/assets/images/logo_pink.png">
        <app-logo></app-logo>
        <div class="logo_simple">GARDYARD</div>
    </div>

    <form [formGroup]="form" novalidate method="post" (ngSubmit)="submit()">
        <div class="input-container">
            <input class="form__field" formControlName="fullname" type="text" placeholder="name">
            <input class="form__field" formControlName="email" type="text" placeholder="email">
            <input class="form__field" formControlName="password" type="password" placeholder="password">
        </div>
        <button class="g-btn submit" [disabled]="form.invalid" type="submit">SIGN UP</button>
        <div class="g-link link">
            <a class="g-link" routerLink="/auth/login">or sign in</a>
        </div>
    </form>

    <div class="g-link back">
        <a routerLink="">BACK TO HOME</a>
    </div>
</div>
