@import '../../assets/styles/style.scss';

.container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title {
    padding: 0 84px;
    font-family: $fontfamily--logo;
    font-size: $fontsize--logo;
    text-align: center;
    letter-spacing: 0.4em;
    box-sizing: border-box;
}

@media (max-width: $size--width_laptop) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
    }

    hr {
        display: none;
    }
}

@media (max-width: $size--width_mobile) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
    }

    .logo {
        display: inline;
    }

    .logo__title {
        display: block;
        padding: 0;
        font-size: $fontsize--logo_mobile;
        text-align: center;
    }

    hr {
        display: none;
    }
}
