@import '../../assets/styles/style.scss';

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title {
    padding: 0 84px;
    font-family: $fontfamily--logo;
    font-size: $fontsize--logo;
    text-align: center;
    letter-spacing: 0.4em;
}

.nav__ham-icon {
    display: none;
    margin-right: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .ham-icon__line_top {
        stroke-dasharray: 40 139;
    }

    .ham-icon__line_bottom {
        stroke-dasharray: 40 180;
    }

    &.hav-icon_active {
        transform: rotate(45deg);
        transform: rotate(180deg);

        .ham-icon__line_top {
            stroke-dashoffset: -98px;
        }

        .ham-icon__line_bottom {
            stroke-dashoffset: -138px;
        }
    }
}

.ham-icon__line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $color--default;
    stroke-width: 4;
    stroke-linecap: round;
}

@media (max-width: $size--width_tablet) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100vw;
        box-sizing: border-box;
    }

    .nav__ham-icon {
        display: block;
    }

    .logo {
        display: inline;
    }

    .logo__title {
        display: block;
        padding: 0;
        font-size: $fontsize--logo_mobile;
        text-align: center;
    }

    hr {
        display: none;
    }
}
