@import '../../../assets/styles/style.scss';

.g-content-container {
    display: flex;
    align-items: center;
    padding-left: 350px;
    box-sizing: border-box;
    font-family: $fontfamily--condensed;
}

.g-page-picture {
    left: 0;
    bottom: 187px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0.5em;
    width: 400px;
    height: 420px;
}

.list__title {
    font-size: $fontsize--contacts__title;
}

.list__item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: $fontsize--contacts__text;
    cursor: pointer;

    img {
        opacity: 0;
        transition: all 200ms ease-in;
    }

    &.active img {
        opacity: 1;
    }
}

.item__remove {
    color: #A84E4F;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 356px;
    padding: 0 7em 0 3em;
}

.field {
    display: flex;
    justify-content: space-between;
}

.form__title {
    font-size: $fontsize--contacts__title;
}

.field__label {
    font-size: $fontsize--contacts__text;
}

.field__input {
    width: 205px;
    height: 34px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: $fontfamily--default;
    font-size: $fontsize--contacts__text;
    border-radius: 0;
    border: 2px solid #4F4F4F;

    &.ng-dirty.ng-invalid {
        border-color: $color--invalid
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form__button {
    align-self: flex-end;
    width: 158px;
    height: 40px;
    font-size: $fontsize--button;
    @include g-btn(#8EBAC6, $color--secondary)
}

@media (max-width: $size--width_tablet) {
    .g-page-picture {
        display: none;
    }

    .g-content-container {
        padding: 0;
        @include tablet_content-container;
    }

    .list {
        padding: 2em;
        @include tablet_content-container;
    }

    .form {
        padding: 2em 0;
        @include tablet_content-container;
    }

}
