@import '../../../assets/styles/style.scss';

.g-content-container {
    display: flex;
    align-items: center;
    padding-left: 350px;
    box-sizing: border-box;
    font-family: $fontfamily--condensed;
}

.g-page-picture {
    left: 0;
    bottom: 187px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0.5em;
    width: 400px;
    height: 420px;
}

.list__title {
    font-size: $fontsize--contacts__title;
}

.list__item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: $fontsize--contacts__text;
    cursor: pointer;

    img {
        opacity: 0;
        transition: all 200ms ease-in;
    }

    &.active img {
        opacity: 1;
    }
}

.item__remove {
    color: #A84E4F;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 356px;
    padding: 0 7em 0 3em;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__title {
    font-size: $fontsize--contacts__title;
}

.field__label {
    font-size: $fontsize--contacts__text;
}

.field__input {
    width: 205px;
    height: 34px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: $fontfamily--default;
    font-size: $fontsize--contacts__text;
    border-radius: 0;
    border: 2px solid #4F4F4F;

    &.ng-dirty.ng-invalid {
        border-color: $color--invalid
    }
}


.form__button {
    align-self: flex-end;
    width: 158px;
    height: 40px;
    font-size: $fontsize--button;
    @include g-btn(#8EBAC6, $color--secondary)
}

@media (max-width: $size--width_laptop) {
    .g-page-picture {
        display: none;
    }

    .g-content-container {
        display: grid;
        grid-template-rows: auto auto auto;
        align-items: flex-start;
        order: 1;
        grid-template-columns: 50% 50%;
        padding: 0;
        width: 100vw;
    }

    .map {
        order: 2;
        width: 100vw;
    }

    .list {
        order: 1;
        height: fit-content;
        width: auto;
        padding: 2em;
    }

    .form {
        order: 1;
        height: fit-content;
        width: auto;
        padding: 2em;
    }

}

@media (max-width: $size--width_mobile) {
    .g-content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100vw;
    }

    .list {
        order: 1;
        padding: 2em;
        @include tablet_content-container;
    }

    .form {
        padding: 2em;
        order: 1;
        @include tablet_content-container;
    }

    .field {
        gap: 1em;
    }
}
