@import '../vars/vars.scss';
@import './placeholder.scss';

input, textarea {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    border: 2px solid $color--primary;
}

.g-field {
    display: flex;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
}

.g-field__label {
    width: 274px;
    box-sizing: border-box;
    font-family: $fontfamily--default;
    font-weight: 300;
    font-size: $fontsize--new-product__label;
}

.g-field__input {
    padding: 12px;
    height: 44px;
    width: 300px;
    box-sizing: border-box;
    font-weight: 300;
    font-family: $fontfamily--default;
    font-size: $fontsize--new-product__input;

    @include placeholder($fontfamily--default, $fontsize--new-product__input, 300);

    &.ng-dirty.ng-invalid {
        border-color: $color--invalid
    }
}

.g-field__input_short {
    width: 131px;
}

.g-dobule-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.g-field__input_big {
    width: 488px;
    height: 150px;
}

.g-field__input_long-param {
    width: auto;
}

.g-field__input_long-val {
    width: auto;
}

@media (max-width: $size--width_tablet) {
    .g-field {
        flex-direction: column;
        width: 100vw;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1em;

        &:nth-child(2n) {
            background: #f1f1f1;
        }
    }

    .g-field__label {
        width: 100%;
        padding: 0.5em 0;
    }

    .g-dobule-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .g-field__input_big {
        width: 100%;
    }

    .g-field__input_long-param {
        width: auto;
    }

    .g-field__input_long-val {
        width: auto;
    }
}
