@mixin scrollbar($color, $bg-color) {
    ::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    ::-webkit-scrollbar-track {
        background: $color;
        border-radius: 100px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $bg-color;
        background-image: url('https://yraaa.ru/_pu/24/59610063.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    ::-webkit-resizer {
        background-repeat: no-repeat;
        width: 7px;
        height: 0px;
    }

    ::-webkit-scrollbar {
        width: 11px;
    }
}
