body {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

input, textarea {
    resize: none;
}

input,
input:focus {
    border: none;
    outline: none;
}

textarea,
textarea:focus {
    border: none;
    outline: none;
}

button,
button:focus,
button:hover {
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}
