@import './utils';

.container {
    @extend %container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 22.4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__field {
    width: 321px;
    height: 45px;
    padding: 0 18px;
    box-sizing: border-box;
    font-family: $fontfamily--sans-serif;
    font-size: $fontsize--auth__input;
    border: 2px solid $color--auth__border
}

.form__field::placeholder {
    font-family: $fontfamily--sans-serif;
    font-size: $fontsize--auth__input;
}

.submit {
    @extend %hover-container;
    @extend %shadow;
    width: 321px;
    height: 64px;
    margin-top: 53px;
    color: #ffffff;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--auth__button;
    background: $color--default;

    &:before {
        @extend %hover-before;
        background: $color--blue;
    }

    &:hover {
        &:before {
            @extend %hover-container-before;
        }
    }
}

.link {
    @extend %hover-container;
    margin-top: 15px;
    padding: 10px 3px 8px;
    color: $color--default;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--auth__link;
}

.link:before {
    @extend %hover-before;
    background: $color--default;
}

.link:hover {
    color: #ffffff;

    &:before {
        @extend %hover-container-before;
    }
}

.back {
    position: absolute;
    top: 68px;
    right: 68px;

    a {
        @extend %hover-container;
        display: block;
        padding: 0.2em;
        text-align: center;
        color: $color--default;
        font-family: $fontfamily--condensed;
        font-size: $fontsize--auth__back;
    }

    a:before {
        @extend %hover-before;
        background: $color--default;
    }

    a:hover {
        color: #ffffff;

        &:before {
            @extend %hover-container-before;
        }
    }
}

hr {
    margin: 0;
    transition: all 100ms ease;
}
