@import './utils';

.container {
    @extend %container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color--on-base;
}

.icon {
    margin-bottom: 22.4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__field {
    width: 321px;
    height: 45px;
    padding: 0 18px;
    box-sizing: border-box;
    color: $color--on-base;
    font-family: $fontfamily--sans-serif;
    font-size: $fontsize--auth__input;
    border: 2px solid $color--input__border;

    &:focus {
        border: 2px solid $color--primary;
    }

    @include placeholder($fontfamily--sans-serif, $fontsize--auth__input, 400);

    &.ng-dirty.ng-invalid {
        border-color: $color--invalid
    }
}

.submit {
    @extend %hover-container;
    @extend %shadow;
    width: 321px;
    height: 64px;
    margin-top: 53px;
    color: $color--base;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--auth__button;
    background: $color--default;

    &:disabled {
        opacity: 0.5;
    }

    &:before {
        @extend %hover-before;
        background: $color--blue;
    }

    &:hover {
        &:before {
            @extend %hover-container-before;
        }
    }
}

.container-link {
    margin-top: 20px;
}

.link {
    @extend %hover-container;
    padding: 10px 3px 8px;
    color: $color--on-base;
    font-family: $fontfamily--condensed;
    font-size: $fontsize--auth__link;
}

.link:before {
    @extend %hover-before;
    background: $color--default;
}

.link:hover {
    color: $color--base;

    &:before {
        @extend %hover-container-before;
    }

    &~hr {
        opacity: 0;
    }
}

.back {
    position: absolute;
    top: 68px;
    right: 68px;

    a {
        @extend %hover-container;
        display: block;
        padding: 0.2em;
        text-align: center;
        color: $color--on-base;
        font-family: $fontfamily--condensed;
        font-size: $fontsize--auth__back;
    }

    a:before {
        @extend %hover-before;
        background: $color--default;
    }

    a:hover {
        color: $color--base;

        &:before {
            @extend %hover-container-before;
        }

        &~hr {
            opacity: 0;
        }
    }
}

hr {
    margin: 0;
    margin-top: 12px;
    opacity: 1;
    width: 100%;
    transition: all 300ms ease;
}

@media (max-width: $size--width_mobile) {
    .container {
        background: none;
    }

    .back {
        top: 20px;
        right: 20px;

        a {
            @extend %hover-container;
            display: block;
            padding: 0.1em;
            font-size: $fontsize--auth__back_mobile;

            &~hr {
                opacity: 1;
            }
        }
    }
}
