@import '../client/sizes.scss';

@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$fontfamily--logo: 'Stardos Stencil', cursive;
$fontfamily--default: Yantramanav, Inter, Roboto, Ubuntu, sans-serif;
$fontfamily--sans-serif: 'PT Serif', serif;
$fontfamily--condensed: Abel, sans-serif;
$fontfamily--round: 'Comfortaa', cursive;
$fontfamily--handwriting: 'Kelly Slab', cursive;
$fontfamily--alert: 'Roboto Condensed', sans-serif;

$fontsize--logo: 45px;
$fontsize--button: 21px;

$fontsize--page__title: 40px;

$fontsize--nav__items: 30px;
$fontsize--nav__user__auth: 30px;
$fontsize--nav__user__name: 24px;
$fontsize--nav__user__dropdown: 19px;

$fontsize--help__question: 24px;
$fontsize--help__answer: 21px;
$fontsize--help__box__title: 36px;
$fontsize--help__box__question: 20px;

$fontsize--my-cart__card__title: 22px;
$fontsize--my-cart__card__cost: 26px;
$fontsize--my-cart__card__count: 20px;
$fontsize--my-cart__side-card__text: 28px;

$fontsize--catalog__card__title: 18px;
$fontsize--catalog__card__cost: 18px;
$fontsize--catalog__cart: 24px;

$fontsize--order__pic__title: 26px;
$fontsize--order__title: 32px;
$fontsize--order__nav__title: 24px;
$fontsize--order__text_default: 22px;
$fontsize--order__care__title: 20px;
$fontsize--order__care__text: 20px;
$fontsize--order__product__reviews: 24px;
$fontsize--order__product__spec: 28px;
$fontsize--order__product__cons: 22px;

$fontsize--auth__input: 20px;
$fontsize--auth__button: 36px;
$fontsize--auth__link: 30px;
$fontsize--auth__back: 30px;
$fontsize--search: 20px;

$fontsize--new-product__label: 26px;
$fontsize--new-product__input: 26px;
$fontsize--new-product__plant-care__title: 26px;

$fontsize--logo_mobile: 30px;
$fontsize--nav__items_mobile: 23px;
$fontsize--help__title_mobile: 30px;
$fontsize--help__question_mobile: 20px;
$fontsize--help__answer_mobile: 18px;
$fontsize--help__box__title_mobile: 30px;
$fontsize--auth__back_mobile: 20px;

$fontsize--products__list: 20px;
$fontsize--products__nothing-is-found: 48px;
$fontsize--products__nothing-is-found_link: 30px;

$fontsize--product__picture-title: 26px;
$fontsize--product__title: 32px;
$fontsize--product__menu: 24px;
$fontsize--product__add-to-cart: 24px;
$fontsize--product__description: 22px;
$fontsize--product__cultivation: 22px;
$fontsize--product__care__title: 24px;
$fontsize--product__care__text: 20px;
$fontsize--product__spec__reviews: 24px;
$fontsize--product__spec__params: 28px;
$fontsize--product__spec__qualities:22px;

$fontsize--orders__catalog: 24px;
$fontsize--orders__title: 45px;
$fontsize--orders__state: 24px;
$fontsize--orders__date: 24px;
$fontsize--orders__note: 20px;
$fontsize--orders__table: 18px;

$fontsize--users__catalog__name: 24px;
$fontsize--users__catalog__email: 20px;
$fontsize--users__catalog__circle: 24px;
$fontsize--users__selected__name: 30px;
$fontsize--users__selected__text: 20px;
$fontsize--users__selected__role: 20px;

$fontsize--module__title: 48px;
$fontsize--module__table: 18px;
$fontsize--module__text: 18px;
$fontsize--module__checkbox: 17px;
$fontsize--module__note: 18px;

$fontsize--alert__title: 24px;
$fontsize--alert__message: 18px;

$fontsize--contacts__title: 30px;
$fontsize--contacts__text: 22px;
$fontsize--contacts__title_big: 50px;
