@import '../client/sizes.scss';

@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$fontfamily--logo: 'Stardos Stencil', cursive;
$fontfamily--default: Yantramanav, Inter, Roboto, Ubuntu, sans-serif;
$fontfamily--sans-serif: 'PT Serif', serif;
$fontfamily--condensed: Abel, sans-serif;
$fontfamily--round: 'Comfortaa', cursive;
$fontfamily--handwriting: 'Kelly Slab', cursive;
$fontfamily--alert: 'Roboto Condensed', sans-serif;

$fontsize--logo: 45px;
$fontsize--button: 21px;

$fontsize--page__title: 40px;

$fontsize--nav__items: 30px;
$fontsize--nav__user__auth: 30px;
$fontsize--nav__user__name: 24px;
$fontsize--nav__user__dropdown: 19px;

$fontsize--help__question: 24px;
$fontsize--help__answer: 21px;
$fontsize--help__box__title: 36px;
$fontsize--help__box__question: 20px;

$fontsize--my-cart__card__title: 18px;
$fontsize--my-cart__card__cost: 36px;
$fontsize--my-cart__card__count: 34px;
$fontsize--my-cart__side-card__title: 30px;
$fontsize--my-cart__side-card__cost: 30px;
$fontsize--my-cart__side-card__note: 20px;
$fontsize--my-cart__side-card__list: 20px;

$fontsize--catalog__card__title: 18px;
$fontsize--catalog__card__cost: 18px;

$fontsize--order__pic__title: 26px;
$fontsize--order__title: 32px;
$fontsize--order__nav__title: 24px;
$fontsize--order__text_default: 22px;
$fontsize--order__care__title: 20px;
$fontsize--order__care__text: 20px;
$fontsize--order__product__reviews: 24px;
$fontsize--order__product__spec: 28px;
$fontsize--order__product__cons: 22px;

$fontsize--auth__input: 20px;
$fontsize--auth__button: 36px;
$fontsize--auth__link: 30px;
$fontsize--auth__back: 30px;
$fontsize--search: 20px;

$fontsize--new-product__label: 26px;
$fontsize--new-product__input: 26px;
$fontsize--new-product__plant-care__title: 26px;

$fontsize--logo_mobile: 30px;
$fontsize--nav__items_mobile: 23px;
$fontsize--help__title_mobile: 30px;
$fontsize--help__question_mobile: 20px;
$fontsize--help__answer_mobile: 18px;
$fontsize--help__box__title_mobile: 30px;
$fontsize--auth__back_mobile: 20px;

$fontsize--products__list: 20px;
$fontsize--products__nothing-is-found: 48px;
$fontsize--products__nothing-is-found_link: 30px;

$fontsize--product__picture-title: 26px;
$fontsize--product__title: 32px;
$fontsize--product__menu: 24px;
$fontsize--product__add-to-cart: 24px;
$fontsize--product__description: 22px;
$fontsize--product__cultivation: 22px;
$fontsize--product__care__title: 24px;
$fontsize--product__care__text: 20px;
$fontsize--product__spec__reviews: 24px;
$fontsize--product__spec__params: 28px;
$fontsize--product__spec__qualities:22px;

$fontsize--alert__title: 24px;
$fontsize--alert__message: 18px;

$fontsize--tablet--logo: 4.6vmax;
$fontsize--tablet--button: 2.2vmax;

$fontsize--tablet--page__title: 4.1vmax;

$fontsize--tablet--nav__items: 3vmax;
$fontsize--tablet--nav__user__auth: 3vmax;
$fontsize--tablet--nav__user__name: 2.5vmax;
$fontsize--tablet--nav__user__dropdown: 2vmax;

$fontsize--tablet--help__question: 2.5vmax;
$fontsize--tablet--help__answer: 2.2vmax;
$fontsize--tablet--help__box__title: 3.7vmax;
$fontsize--tablet--help__box__question: 2vmax;

$fontsize--tablet--my-cart__card__title: 1.8vmax;
$fontsize--tablet--my-cart__card__cost: 3.6vmax;
$fontsize--tablet--my-cart__card__count: 3.4vmax;
$fontsize--tablet--my-cart__side-card__title: 3.0vmax;
$fontsize--tablet--my-cart__side-card__cost: 3.0vmax;
$fontsize--tablet--my-cart__side-card__note: 2.0vmax;
$fontsize--tablet--my-cart__side-card__list: 2.0vmax;

$fontsize--tablet--catalog__card__title: 1.8vmax;
$fontsize--tablet--catalog__card__cost: 1.8vmax;

$fontsize--tablet--order__pic__title: 2.6vmax;
$fontsize--tablet--order__title: 3.2vmax;
$fontsize--tablet--order__nav__title: 2.4vmax;
$fontsize--tablet--order__text_default: 2.2vmax;
$fontsize--tablet--order__care__title: 2.0vmax;
$fontsize--tablet--order__care__text: 2.0vmax;
$fontsize--tablet--order__product__reviews: 2.4vmax;
$fontsize--tablet--order__product__spec: 2.8vmax;
$fontsize--tablet--order__product__cons: 2.2vmax;

$fontsize--tablet--auth__input: 2.0vmax;
$fontsize--tablet--auth__button: 3.6vmax;
$fontsize--tablet--auth__link: 3.0vmax;
$fontsize--tablet--auth__back: 3.0vmax;

$fontsize--tablet--new-product__label: 2.6vmax;
$fontsize--tablet--new-product__input: 2.6vmax;
$fontsize--tablet--new-product__plant-care__title: 2.6vmax;

$fontsize--tablet--products__list: 2.0vmax;
$fontsize--tablet--products__nothing-is-found: 4.8vmax;
$fontsize--tablet--products__nothing-is-found_link: 3.0vmax;

$fontsize--tablet--alert__title: 2.4vmax;
$fontsize--tablet--alert__message: 1.8vmax;
