@import '../common/placeholder.scss';

%shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

%highlighted-container {
    display: block;
    box-sizing: border-box;
}

%width--max-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

%height--fit-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

%underline {
    border-bottom: 2px solid $color--default;
}

%scroll-box-shadow {
    box-shadow: inset 0 -5em 50px -5em rgba(0, 0, 0, 0.1),
        inset 0 5em 50px -5em rgba(0, 0, 0, 0.2);
}

%search {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        width: 354px;
        padding: 0.5em;
        font-family: $fontfamily--sans-serif;
        font-size: $fontsize--search;
        border: 2px solid #4F4F4F;
        border-radius: 3px;
        background-image: url('/assets/images/search.png');
        background-repeat: no-repeat;
        background-position: 95%;
        @include placeholder($fontfamily--sans-serif, $fontsize--search, 400);

        &:focus {
            border: 2px solid $color--primary;
        }
    }
}

@mixin tablet_content-container {
    position: static;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

@mixin tablet__block {
    position: static;
    margin: 0;
    width: 100vw;
    min-height: fit-content;
    max-height: fit-content;
    height: fit-content;
    max-width: 0;
    min-width: 100vw;
    width: 100vw;
    border-radius: 0;
    box-sizing: border-box;
}
