<div class="search">
    <input #search class="g-field__input" [(ngModel)]="searchString" type="text" placeholder="Search products...">
</div>

<div class="g-content-container" [ngClass]="!products.length ? 'container_empty' : ''">
    <app-not-found *ngIf="!products.length" title="Your cart is empty. Add something!"></app-not-found>
    <section class="catalog g-block"
             *ngIf="products.length">

        <div #catalogItem
             *ngFor="let item of products | filterProducts: searchString | sortByRecentlyViewed: userId"
             [attr.data-id]="item._id"
             class="catalog__item g-box"
             unselectable="on"
             onselectstart="return false;"
             (click)="getFullInformation(item._id)">
            <div class="item__pic">
                <img [src]="item.picture" draggable="false">
            </div>
            <div class="item__text">
                <span>{{ item.title }}</span>
                <span>${{ item.cost }}</span>
            </div>
        </div>
    </section>
    <section #cart class="cart">
        <img class="cart__img" src="/assets/images/plus.png">
        <div class="cart__text">
            pull the product
            to put in the cart
        </div>
    </section>
</div>
<img class="g-page-picture" src="/assets/images/catalog-img.png">
