<div class="container" *ngIf="product" @productAnimation>
    <div class="spec">
        <div class="reviews">
            <app-star-rating [forEstimating]="false"
                             checkedColor="#D7AA54"
                             uncheckedColor="#e1e1e1"
                             [checked]="averageRate"
                             total="5"></app-star-rating>
            <span>|</span>
            <span>{{ product.rates.length }} review {{ product.rates.length > 1 ? 's' : ''}}</span>
        </div>
        <div class="params">
            <div class="params__item">
                <div>vendor code:</div>
                <div>{{ product.vendorCode }}</div>
            </div>
            <div class="params__item">
                <div>number of seeds:</div>
                <div>{{ product.numberOfSeeds }}</div>
            </div>
            <div class="params__item">
                <div>the total cost:</div>
                <div>${{ product.cost }}</div>
            </div>
        </div>
        <button class="button-add" (click)="addToCart()" type="button">Add to shopping cart</button>
    </div>
    <div class="advantages">
        <div class="advantages__item">
            <img src="/assets/images/product-icon-box.png">
            <span>in stock</span>
        </div>
        <div class="advantages__item">
            <img src="/assets/images/product-icon-pin.png">
            <span>fast delivery</span>
        </div>
        <div class="advantages__item">
            <img src="/assets/images/product-icon-shield.png">
            <span>60 days warranty</span>
        </div>
    </div>
</div>
